<%= require('html-loader!./includes/header.html') %>
<div class="container">
    <h1 class="my-4">Nuevo personaje para Overwatch
        <small>Brigitte, la hija de Torbjörn, es la nueva heroína confirmada para Overwatch</small>
    </h1>
    <div class="row">
        <img class="img-fluid rounded mb-3 mb-md-0" src="../assets/img/overwatchBrigitte.jpg" alt="overwatchBrigitte">
        <div class="col-md-3">
            <br>
            <p>
                <b>Hanna Song</b>
                &nbsp;
                <img src="../assets/img/avatar-dva.jpg" class="rounded-circle" height="55" width="55" alt="Avatar">
            </p>
            <p>28 Febrero 2018, 21:13</p>
        </div>
        <div class="col-md-9">
            <br>
            <p>En los últimos días se había convertido en un secreto a voces y al final Blizzard ha acabado confirmado oficialmente. <b>Brigitte será la heroína número 27</b> que se sumará a las filas de Overwatch próximamente y se trata curiosamente de la <b>hija de Torbjörn Lindholm</b>, por lo que será interesante verles combatir juntos.</p>

            <p><b>Su pasión por la ingeniería mecánica</b> hizo que aprendiese todo lo esencial del oficio de su padre al mismo tiempo que se dedicaba a perfeccionar sus habilidades. Así acabó fabricando <b>armaduras y sistemas defensivos</b>, al contrario que su progenitor que se especializó en el diseño de armas. Parecía que se iba a dedicar toda la vida a este trabajo hasta que conoció a <b>su padrino Reinhardt Wilhelm</b>.</p>

            <p>Tras la caída de 'Overwatch', Reinhardt declaró que se convertiría en un caballero andante que viajaría por el mundo impartiendo justicia, pero Brigitte le pidió <b>unirse a él como su escudera</b>. Así pasó a convertirse ella también en una guerrera mientras Reinhardt le enseñó todo lo esencial para defenderse en el campo de batalla y de hecho se construyó su propia armadura.</p>

            <p>Partiendo de esta base, Brigitte tendrá <b>una función de apoyo</b> con la que se dedicará a <b>lanzar kits de reparación</b> a sus compañeros o sanarlos automáticamente mientras daña a sus oponentes con <b>su mangual</b>. Además, será capaz de <b>atacar a distancia</b> lanzando su arma para golpear y aturdir a varios enemigos al mismo tiempo con su <b>Lanzamiento de mangual</b>.</p>

            <p>En cuanto a sus habilidades especiales dispondrá del <b>Escudo Barrera</b>, con la que desplegará una barrera de energía frontal capaz de amortizar todo el daño que reciba hasta cierto punto. El escudo también le servirá para <b>cargar con él de frente</b> y aturdir a sus rivales y por último contará con <b>Formación</b>, con la que Brigitte será capaz de desplazarse más rápido y otorgará un gran aumento en la armadura de los aliados que permanezcan cerca de ella.</p>

            <p>Por el momento no se ha concretado cuándo aparecerá Brigitte, pero os invitamos a ver los <b>primeros vídeos</b> que ha publicado Blizzard sobre ella y que nos dejan con las ganas de jugar con ella para comprobar realmente cómo es.</p>
        </div>
    </div>
</div>
<%= require('html-loader!./includes/footer.html') %>
