<%= require('html-loader!./includes/header.html') %>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/img/overwatchBrigitte.jpg" alt="Overwatch Brigitte">
      <div class="carousel-caption">
        <h3>Nuevo personaje para Overwatch</h3>
        <b>Brigitte, la hija de Torbjörn, es la nueva heroína confirmada para Overwatch</b>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/img/live.jpg" alt="Xbox Live" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Mercado gris de los videojuegos</h3>
        <b>¿Cómo es posible que una suscripción de Xbox Live cueste 20 euros menos en esta web?</b>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../assets/img/fortnite20.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>¡Nuevo modo de juego!</h3>
        <b>Fortnite Battle Royale incorporará temporalmente un modo de juego de cinco equipos formados por 20 jugadores</b>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<div class="container">
    <h1 class="my-4">Noticias de videojuegos
      <small>General</small>
    </h1>

    <hr>

    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../assets/img/smashBros.jpg" alt="smashBros">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Super Smash Bros. de camino para Switch</h3>
        <p>El Nintendo Direct se esperaba que nos dejase con algún bombazo y ha sido justo en el último minuto de la emisión cuando Nintendo ha presentado por medio de una cinemática que 'Super Smash Bros' está siendo desarrollado para Nintendo Switch ¡y llegará este mismo año!</p>
        <p>
          <b>Charizard</b>
          &nbsp;
          <img src="../assets/img/avatar-charizard.png" class="rounded-circle" height="55" width="55" alt="Avatar">
          &nbsp;&nbsp;&nbsp;
          9 Marzo 2018, 10:09
        </p>
        <a class="btn btn-primary" href="#">0 <i class="fas fa-comments"></i></a>
      </div>
    </div>
    
    <hr>

    <div class="row">
      <div class="col-md-7">
        <video class="img-fluid rounded mb-3 mb-md-0" width="700" height="300" controls>
          <source src="../assets/vid/fortnite.mp4" width="700" height="300" type="video/mp4">
        </video>
      </div>
      <div class="col-md-5">
        <h3>Nuevo modo de juego en Fortnite</h3>
        <p>Uno de los nuevos modos de juego que acaba de presentar es uno que volverá a reunir a 100 personas en el campo de batalla, pero en esta ocasión solo existirán cinco equipos formados por 20 jugadores cada uno, por lo que si ya fue una locura el modo de 50 vs 50, imaginaros cómo será este nuevo.</p>
        <p>
          <b>Álvaro Camino</b>
          &nbsp;
          <img src="../assets/img/avatar-placeholder.png" class="rounded-circle" height="55" width="55" alt="Avatar">
          &nbsp;&nbsp;&nbsp;
          7 Marzo 2018, 09:56
        </p>
        <a class="btn btn-primary" href="#">0 <i class="fas fa-comments"></i></a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../assets/img/live.jpg" alt="XboxLive">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Mercado gris de los videojuegos</h3>
        <p>Antiguamente se decía que nadie daba duros a cuatro pesetas, y resulta curioso que el impulso del comercio digital llegara con el ocaso de esta querida moneda. Muchos hemos pasado de exprimir un único juego durante meses y reducir nuestros caprichos al nuevo PC Fútbol, que por cierto se vendía en los kioskos, a alimentar un auténtico síndrome de diógenes digital.</p>
        <p>
          <b>Carlos Gómez</b>
          &nbsp;
          <img src="../assets/img/avatar-placeholder.png" class="rounded-circle" height="55" width="55" alt="Avatar">
          &nbsp;&nbsp;&nbsp;
          7 Marzo 2018, 19:37
        </p>
        <a class="btn btn-primary" href="#">0 <i class="fas fa-comments"></i></a>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../assets/img/overwatchBrigitte.jpg" alt="overwatchBrigitte">
        </a>
      </div>
      <div class="col-md-5">
        <h3>Nuevo personaje para Overwatch</h3>
        <p>En los últimos días se había convertido en un secreto a voces y al final Blizzard ha acabado confirmado oficialmente. Brigitte será la heroína número 27 que se sumará a las filas de Overwatch próximamente y se trata curiosamente de la hija de Torbjörn Lindholm, por lo que será interesante verles combatir juntos.</p>
        <p>
          <b>Hanna Song</b>
          &nbsp;
          <img src="../assets/img/avatar-dva.jpg" class="rounded-circle" height="55" width="55" alt="Avatar">
          &nbsp;&nbsp;&nbsp;
          28 Febrero 2018, 21:13
        </p>
        <a class="btn btn-primary" href="#">0 <i class="fas fa-comments"></i></a>
      </div>
    </div>

    <hr>

    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Siguiente</span>
        </a>
      </li>
    </ul>

  </div>
</div>

<%= require('html-loader!./includes/footer.html') %>